.cardLeft {
    display: flex;
    align-items: baseline;
    /* border-left: 5px solid var(--blue-400);
    padding: 2rem 0; */
    border-left: 5px solid var(--blue-400);
    padding: 2rem 0 8rem 2rem;
}

.cardRight {
    display: flex;
    align-items: baseline;
    border-right: 5px solid var(--blue-400);
    padding: 2rem 2rem 5rem 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content h3 {
    font-weight: 300;
    letter-spacing: -1px;
    font-size: 43.75px;
    color: var(--gray-500);
    text-transform: lowercase;
}

.content p {
    font-weight: 700;
    font-size: 12px;
    color: var(--gray-700);
    line-height: 200%;
    text-transform: uppercase;
}

.footer {
    display: flex;
    justify-content: start;
}

/* .footer p {
    min-width: 10%;
    color: var(--gray-700);
    font-weight: 400;
    line-height: 150%;
    padding: 1rem;
    border-radius: 0.8rem;
    background-color: var(--blue-400);
    letter-spacing: 0.925px;
    font-size: 1rem;
    position: relative;
    left: -1rem;
} */

@media (max-width: 1120px) {
    .cardRight {
        display: flex;
        align-items: baseline;
        border-left: 5px solid var(--blue-400);
        border-right: none;
        padding: 0 2rem 5rem 2rem;
    }

    .content h3 {
        line-height: 125%;
    }
}