.cardAttributes {
    display: flex;
    flex-direction: column;
    flex-basis: 20rem;
    gap: 1rem;
    background: var(--white);
    padding: 2rem;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
    border-radius: 9.54353px;
    border-left: 0.5rem solid var(--blue-500);
}

.cardAttributes h1 {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--gray-700);
}

.cardAttributes h2 {
    font-weight: 600;
    color: var(--gray-600);
    font-size: 1rem;
    margin: 0.5rem 0;
}

.cardAttributes p {
    text-transform: uppercase;
    color: var(--gray-500);
    font-weight: 700;
    line-height: 200%;
    font-size: 0.858rem;
}

@media (max-width: 1120px) {
    .cardAttributes {
        display: flex;
        flex-direction: column;
        flex-basis: 0;
    }
}