.attributes {
    background: var(--white);
    height: 100%;
    width: 100vw;
    /* padding: 0 8rem; */
    /* margin: 6.5rem 10rem 0; */
}

.container {
    /* background: var(--white);
    padding: 4rem 0;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
    border-radius: 9.54353px;
    z-index: 2;
    position: relative;
    margin-top: -5rem; */
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 6.5rem 10rem 0;
}

.container h2 {
    font-weight: 500;
    font-size: 3rem;
    line-height: 150%;
    color: var(--blue-500);
    margin: 0 6rem;
}

.container span {
    color: var(--blue-400);
    font-size: 3rem;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem 2rem;
    align-items: center;
    justify-content: center;
    /* margin: 3.5rem 10rem 0; */
}

/* .content img {
    position: absolute;
    right: 0;
    bottom: 0%;
    margin-right: 5rem;
} */

@media (max-width: 1280px) and (min-width: 1121px) {
    .content {
        margin: 2rem 10rem 0;
    }
}

@media (max-width: 1120px) {
    .container {
        margin: 6rem 2rem 0;
        gap: 3rem;
    }

    .container h2 {
        margin: 0 1rem 1rem;
        line-height: 115%;
    }

    .container span {
        font-size: 2rem;
    }

    .content {
        flex-wrap: initial;
        gap: 2rem;
        margin: 0 2rem;
    }

    /* .content img {
        position: static;
        margin: 0 0 -4.1rem 0;
        width: 100%;
    } */
}