.header {
    background: var(--blue-400);
    display: flex;
    justify-content: center;
    padding: 1.25rem 0;
}

.header img {
    display: none;
}

.header nav {
    display: flex;
    padding: 1.5rem 12rem 0.1rem;
}

.header nav ul {
    display: flex;
    gap: 2.5rem;
}

.header nav ul li {
    list-style: none;
}

.header nav ul li a {
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 0.75rem;
    font-weight: 800;
    transition: all 250ms linear 0s;
}

.header nav ul li a:hover {
    border-bottom: 3px solid var(--white);
    transition: 100ms;
}

.header li {
    position: relative;
    animation-name: menu;
    animation-duration: 1s;
    transition: 100ms;
}

.menuToggle {
    display: none;
}

.navMobile {
    display: none;
}

.selectMobile {
    display: none;
}

.buttonHasBorder {
    border-radius: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    color: var(--white);
    padding: 0.1rem 2rem;
    cursor: pointer;
    border: 2px solid var(--white);
    background: var(--blue-200);
    letter-spacing: 1px;
}

@keyframes menu {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateX(-48px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateX(-26px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateX(-13px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateX(-6.5px);
    }
}

@media (max-width: 630px) {
    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .menuToggle {
        display: block;
    }

    .selectMobile {
        display: block;
    }
}

@media (max-width: 1120px) {
    .header {
        display: flex;
        justify-content: end;
    }

    .header img {
        display: block;
        width: 30%;
        padding: 0.75rem 0 0 2rem;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    .menuSection nav {
        display: none;
    }

    .menuToggle {
        display: block;
        margin-right:3rem;
    }

    .selectMobile {
        display: block;
    }

    /*Fullscreen*/
    .menuSectionOn {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60vh;
        background: var(--blue-400);
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
    }

    .menuSectionOn nav {
        display: block;
    }

    .menuSectionOn .menuToggle {
        position: absolute;
        right: 2rem;
        top: 2rem;
        cursor: pointer;
        transition: ease-in 2s linear;
    }

    .menuSectionOn nav ul {
        text-align: center;
        display: block;
    }

    .menuSectionOn nav ul a {
        transition-duration: 0.2s;
        font-size: 1rem;
        display: block;
        color: var(--white);
        padding: 0.8rem;
    }

    .header nav ul li a {
        font-size: 1.5rem;
    }

    .menuSectionOn nav ul .hide {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0rem;
        font-size: 1.6rem;
    }

    .navMobile {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 1rem;
    }

    .buttonDesk {
        display: none;
    }
}