.services {
    background: var(--blue-150);
    height: 100%;
    width: 100vw;
    position: relative;
    overflow: hidden;
    z-index: -1;
}

.container {
    padding-bottom: 10rem;
    z-index: -1;
}

.services::after, .services::before {
    content:  "";
    height: 100%;
    right: 0%;
    position: absolute;
    top: 100%;
    transform-origin: left;
    /* transform: skewY(-10deg); */
    /* transform: skewX(10deg); */
    width: 100%;
    background: var(--blue-400);
    z-index: -1;
}

.services::before {
    top: -10px; 
    border-radius: 0 0 50% 25%; /* Cria uma borda curva na parte superior do pseudo-elemento */
}

.services::after {
    bottom: -10px; /* Controla a posição vertical da ondulação */
    border-radius: 50% 50% 0 0; /* Cria uma borda curva na parte inferior do pseudo-elemento */
}

.arrowDown {
    padding: 0;
    margin: -40px;
    display: flex;
    justify-content: center;
    color: var(--blue-600);
}

.arrowDown>div {
    position: absolute;
    color: var(--white);
    margin: 35px;
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0;
    z-index: -1;
}

.content .description {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin: 6.5rem 0 4.5rem 16rem;
    z-index: -1;
}

.content .description h2 {
    color: var(--blue-100);
    font-weight: 500;
    font-size: 3rem;
    line-height: 150%;
    z-index: -1;
}

.content .description span {
    color: var(--blue-100);
    font-size: 3rem;
    z-index: -1;
}

.paragraph2 p {
    min-width: 10%;
    color: var(--white);
    font-weight: 400;
    line-height: 150%;
    padding: 1rem;
    border-radius: 0.8rem;
    background-color: var(--blue-400);
    text-align: center;
    z-index: -1;
}

.paragraph2 {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    margin: -1rem 0 -1rem 9rem;
    z-index: -1;
}

.cardsSection {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    gap: 1rem;
    margin: 0 10rem;
    z-index: -1;
}

.swiperImg {
    width: 50%;
}

.cards {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items:flex-start;
    gap: 6rem;
    width: 100%;
}

.illustration {
    width: 100%;
    transform: rotate(-1.4deg);
    margin-bottom: 2rem;
}

.illustration2,
.illustration4 {
    display: inline;
    width: 100%;
    transform: rotate(-1.4deg);
    margin-top: 2rem;
    border-radius: 2rem;
}

.illustration3 {
    display: none;
}

/* .patterns {
    margin: 2.5rem 0 0 0;
    width: 30%;
    position: absolute;
    z-index: 0;
} */

.patternsWrapper {
    /* position: relative; */
    /* width: 100%; */
    z-index: -1;
}

.patterns {
    /* margin: 1.5rem 0 0 -19rem; */
    /* width: 40%; */
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1280px) and (min-width: 1121px) {
    .content .description {
        margin: 2rem 10rem 0;
    }
}

@media (max-width: 1120px) {
    .services::after, .services::before {
        width: 100%;
    }
    
    .services::before {
        border-radius: 0 0 25% 15%; /* Cria uma borda curva na parte superior do pseudo-elemento */
    }
    
    .services::after {
        border-radius: 0 0 0 0; /* Cria uma borda curva na parte inferior do pseudo-elemento */
    }

    .container {
        margin: 8rem 3rem 0 3rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        z-index: -1;
    }
    
    .content .description {
        display: flex;
        z-index: -1;
    }
    
    .content .description h2 {
        color: var(--blue-100);
        font-weight: 500;
        font-size: 3rem;
        line-height: 150%;
        z-index: -1;
    }

    .content .description {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        margin: 0;
        width: 100%;
    }

    .content .description h2 {
        line-height: 115%;
    }

    .content .description span {
        font-size: 2rem;
    }

    .content .description p {
        font-size: 1rem;
    }

    .paragraph2 p {
        min-width: 40%;
    }

    .paragraph2 {
        /* width: 100%; */
        display: flex;
        justify-content: left;
        align-items: left;
        margin: 2rem 0 0 0;
    }

    .cardsSection {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 0rem;
        margin: 1rem 0 0;
        padding: 0 0;
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        margin: 0rem 0 0 0;
        width: 100%;
    }

    .illustration {
        width: 100%;
    }

    .illustration2 {
        display: none;
        width: 100%;
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .illustration3,
    .illustration4 {
        display: inline;
        width: 100%;
        /* transform: rotate(0); */
        margin-top:0;
        margin-bottom: 2rem;
    }

    .patterns {
        position: absolute;
        z-index: -1;
        width: 100%;
        top: 87%;
        left: 2%;
        bottom: 100%;
        transform: translate(-50%, -50%);
    }
}

/* margem adequada pra mobile
margin: 3rem 4rem 0 4rem; */