.operation {
    background: var(--white);
    height: 100%;
    width: 100vw;
    position: relative;
    overflow: hidden;
    padding-bottom: 15rem;
}

.operation::after {
    content: '';
    height: 100vh;
    right: 0%;
    position: absolute;
    top: 45%;
    transform-origin:left;
    transform: skewY(-4deg);
    -webkit-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    width: 100%;
    background:var(--blue-400);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 6.5rem 10rem 0;
    z-index: 1;
    position: relative;
}

.content h2 {
    font-weight: 500;
    font-size: 3rem;
    line-height: 150%;
    color: var(--blue-400);
    padding-bottom: 3rem;
    margin: 0 6rem;
}

.content span {
    color: var(--blue-400);
    font-size: 3rem;
}

.content h3 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 114%;
    color: var(--white);
    text-align: center;
    padding: 0 10.6rem;
}

.cardsSectionOperation {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 20%;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.buttonsSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.buttonsSection button {
    border-radius: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1rem;
    text-align: center;
    color: var(--white);
    padding: 1rem 3rem;
    cursor: pointer;
    border: 2px solid var(--white);
    background: transparent;
    letter-spacing: 1px;
    min-width: 15rem;
}

.buttonsSection .buttonBackground {
    background: var(--blue-400);
    border: 2px solid var(--blue-400);
}

@media (max-width: 1280px) and (min-width: 1121px) {
    .content, .content h3 {
        margin: 2rem 10rem 0;
    }
}

@media (max-width: 1120px) {
    .content {
        margin: 3rem 2rem 0;
        overflow: hidden;
        z-index: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.05rem;
    }

    .operation {
        padding-bottom: 5rem;
    }

    .content h2 {
        line-height: 115%;
        padding-bottom: 3rem;
        margin: 0 1rem;
    }

    .content span {
        font-size: 2rem;
    }
    
    .content h3 {
        margin: 0;
        font-size: 2.5rem;
        padding: 0;
    }

    .buttonsSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-top: 4rem;
    }
}

/* margem adequada pra mobile
margin: 3rem 4rem 0 4rem; */