.talents {
    background: var(--white);
    height: 100%;
    width: 100vw;
    padding: 4rem 6rem 0;
}

.container {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.container h2 {
    font-weight: 500;
    font-size: 3rem;
    line-height: 150%;
    color: var(--gray-700);
    margin: 0 10rem 4rem;
}

.container p {
    font-size: 1.2rem;
    line-height: 150%;
}

.paragraphs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.paragraphs ul {
    /* display: flex; */
    list-style: none;
}

.paragraphs li {
    margin-left: 2.4rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.container span {
    color: var(--blue-400);
    font-size: 1rem;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--pink);
}

.cardsTalents {
    display: flex;
    align-items: center;
    /* padding-bottom: 5rem;
    border-bottom: 0.5px solid var(--blue-150); */
}

@media (max-width: 1280px) and (min-width: 1121px) {
    .content {
        margin: 2rem 5rem;
    }
}

@media (max-width: 1120px) {
    .talents {
        padding: 0.5rem 2rem 0;
        /* gap: 3rem; */
    }

    .container {
        padding: 2.5rem 0 0;
        display: flex;
        flex-direction: column;
        /* gap: 2rem; */
    }
    
    .container h2 {
        margin: 0 1rem 2rem;
        line-height: 115%;
        width: 100%;
    }

    .paragraphs {
        margin: 0 1rem;
    } 
}