.companies {
    background: var(--white);
    height: 100%;
    width: 100vw;
    padding: 0 6rem 10rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 3rem; */
}

.container h2 {
    font-weight: 500;
    font-size: 3rem;
    line-height: 150%;
    color: var(--blue-500);
    margin: 5rem 10rem 3rem;
}

.sliderContainer {
    margin: 3rem 6.5rem 2rem;
}

.container h3 {
    font-size: 2rem;
    color: var(--blue-400);
    margin-bottom: 1rem;
    font-weight: 500;
}

.containerImg {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.sliderContainer img {
    width: 100%;
    max-width: 80%;
}

.imgs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiperSlider {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;
}


@media (max-width: 1120px) {
    .companies {
        padding: 5rem 2rem 0;
    }

    .container {
        padding: 0;
    }

    .container h2 {
        margin: 0 1rem;
        line-height: 115%;
    }

    .sliderContainer {
        margin: 4rem 0 0;
    }

    .sliderContainer img {
        width: 100%;
        max-width: 50%;
    }
}