.companies {
    background: var(--white);
    height: 100%;
    width: 100vw;
    padding: 0 6rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.container h2 {
    font-weight: 500;
    font-size: 3rem;
    line-height: 150%;
    color: var(--gray-700);
    margin: 5rem 10rem 0;
}

.container span {
    color: var(--blue-400);
    font-size: 3rem;
}

.logoCompanies {
    display: flex;
    justify-content: center;
    margin: 3rem 0 10rem;
}

.logoCompanies img {
    width: 78%;
}

@media (max-width: 1280px) and (min-width: 1121px) {
    .content {
        margin: 2rem 5rem;
    }
}

@media (max-width: 1120px) {
    .companies {
        padding: 5rem 2rem 0;
    }

    .container {
        padding: 0;
    }

    .container h2 {
        margin: 0 1rem;
        line-height: 115%;
    }

    .container span {
        font-size: 2rem;
    }

    .logoCompanies {
        display: flex;
        justify-content: baseline;
        overflow-x: auto;
        padding: 0 3rem;
        margin: 4rem 0 10rem;
    }

    .logoCompanies img {
        width: 70rem;
        margin: 0 0 2rem 55rem;
    }

}