.services {
    background: var(--gray-300);
    height: 100%;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.container {
    padding-bottom: 10rem;
}

.services::after {
    content: '';
    height: 100%;
    right: 0%;
    position: absolute;
    top: 100%;
    transform-origin: left;
    transform: skewY(-4deg);
    width: 100%;
    background: var(--white);
}

.arrowDown {
    padding: 0;
    margin: -40px;
    display: flex;
    justify-content: center;
    color: var(--blue-600);
}

.arrowDown>div {
    position: absolute;
    color: var(--white);
    margin: 35px;
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.content .description {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin: 6.5rem 0 0 16rem;
}

/* .pattern {
    position: relative;
    right: 0;
    margin: 0;
    width: 60%;
    margin-bottom: 2rem;
} */

/* .pattern {
    animation-name: example;
    animation-duration: 6s;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
} */

/* @keyframes example {
    25% {
        color: #0908082a;
        left: 0px;
    }

    0% {
        color: #0908082a;
        left: 200px;
    }

} */

.content .description h2 {
    /* width: 40%; */
    /* flex-flow: row wrap;
    flex-grow: 2; */
    /* talvez esse flex não sirva */
    color: var(--gray-700);
    font-weight: 500;
    font-size: 3rem;
    line-height: 150%;
}

.content .description span {
    color: var(--blue-400);
    font-size: 3rem;
}

/* .content .description p {
    min-width: 10%;
    color: var(--gray-700);
    font-weight: 400;
    line-height: 150%;
    padding: 1rem;
    border-radius: 0.8rem;
    background-color: var(--blue-400);
} */

.paragraph2 p {
    min-width: 10%;
    color: var(--white);
    font-weight: 400;
    line-height: 150%;
    padding: 1rem;
    border-radius: 0.8rem;
    background-color: var(--blue-400);
    text-align: center;
}

.paragraph2 {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .paragraph {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-items: center;
} */

/* .line {
    margin-left: 2rem;
    height: 200px;
    border-right: 5px solid var(--blue-400);
} */

.cardsSection {
    display: flex;
    justify-content: right;
    align-items: flex-start;
    gap: 4rem;
    margin: 0 10rem;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 50%;
}

.illustration {
    width: 40%;
    transform: rotate(-1.4deg);
    margin-bottom: 2rem;
}

.illustration2,
.illustration4 {
    display: inline;
    width: 45%;
    transform: rotate(-1.4deg);
    margin-top: 2rem;
}

.illustration3 {
    display: none;
}

@media (max-width: 1280px) and (min-width: 1121px) {
    .content .description {
        margin: 2rem 10rem 0;
    }
}

@media (max-width: 1120px) {
    .content {
        margin: 3rem 3rem 0 3rem;
    }

    .content .description {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        margin: 0;
        width: 100%;
    }

    .content .description h2 {
        line-height: 115%;
    }

    .content .description span {
        font-size: 2rem;
    }

    .content .description p {
        font-size: 1rem;
    }

    /* .content .description h2,
    .content .description p {
        width: 100%;
    } */

    .paragraph2 p {
        min-width: 20%;
    }

    .paragraph2 {
        /* width: 100%; */
        display: flex;
        justify-content: left;
        align-items: left;
        margin: 2rem 0 0 0;
    }


    .cardsSection {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 0rem;
        margin: 0 1rem;
        padding: 0 2rem 0 0;
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: 0rem 2rem 0 2rem;
        width: 100%;
    }

    .illustration {
        width: 100%;
    }

    .illustration2 {
        display: none;
    }

    .illustration3,
    .illustration4 {
        display: inline;
        width: 100%;
        transform: rotate(0);
        margin-top: -2rem;
    }
}

/* margem adequada pra mobile
margin: 3rem 4rem 0 4rem; */