.wrapper {
    max-width: 100%;
    padding: 2rem auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: flex-start;
}

@media (max-width: 768px) {
    html {
        font-size: 80%;
    }
}