:root {
    --white: #FEFEFE;
    --black: #000;
    --pink: #ff6b8e;
    --gray-100: #FEFEFE;
    --gray-200: #FAEFD5;
    --gray-300: #f7f7f7;
    --gray-400: #ababab;
    --gray-500: #5a5a5a;
    --gray-600: #4d4d4d;
    --gray-700: #333;
    --blue-100: #68D4ED;
    --blue-200: #A591F1;
    --blue-300: #8052FF;
    --blue-400: #4c25e4;
    --blue-500: #2c1749;
    /* --blue-500: #4C25E4; */
    --blue-600: #6b42a4;
    --linear-gradient: linear-gradient(304.03deg, #68D4ED 18.78%, #210E5B 94.69%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
    background: var(--white);
    color: var(--gray-700);
    -webkit-font-smoothing: antialiased;
}

body,
input,
button {
    font-family: 'Bungee', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

span {
    font-family: 'Bungee', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-transform: none;
}

summary::-webkit-details-marker {
    display: none;
}

summary:after {
    background: transparent;
    content: '';
    color: var(--blue-400);
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

details[open] summary:after {
    background: transparent;
    content: '';
    color: var(--blue-400);
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

summary {
    list-style-type: '';
}

details[open] summary {
    list-style-type: '';
}

p {
    font-family: 'Raleway', sans-serif;
    /* text-transform: uppercase; */
}

/* h2 ::before {
    content: " >";
} */